<template>
  <h1>hola prueba</h1>
  <div class="q-pa-md">
    <q-list dense bordered padding class="rounded-borders">
      <q-item clickable v-ripple v-for="posts in post" :key="posts.userId">
        <q-item-section> {{posts.title}} </q-item-section>
      </q-item>
    </q-list>
  </div>
</template>
<script>
import { ref, onMounted } from "vue";
export default {
  setup() {
    const post = ref([]);

    onMounted(() => {
      fetch("https://jsonplaceholder.typicode.com/posts")
        .then((response) => response.json())
        .then((json) => (post.value = json));
    });

    return {
      post,
    };
  },
};
</script>